<div class="px-4 py-0 my-5 text-center">
  <h3 class="display-5 ">About this website</h3>
  <div class="col-lg-6 mx-auto">

    </p>
    </p>

    <div class="d-flex justify-content-center">

      <ul>
        <li class="mb-1 d-flex">
          <i class="bi bi-gear-fill"></i>
          <p>Sample web application deployed on Heroku. </p>
        </li>
        <li class="mb-1 d-flex">
          <i class="bi bi-gear-fill"></i>
          <p>App created with Node.js, Express.js, MongoDB and EJS
          </p>
        </li>
        <li class="mb-1 d-flex">
          <i class="bi bi-gear-fill"></i>
          <p>In this example project I do not use login and registration </p>
        </li>
        <li class="mb-1 d-flex">
          <i class="bi bi-gear-fill"></i>
          <p>User Can add and remove car deals (by the password) </p>
        </li>
        <li class="mb-1 d-flex">
          <i class="bi bi-gear-fill"></i>
          <p>The server saves the images by default Node.js</p>
        </li>
        <li class="mb-1 d-flex">
          <i class="bi bi-gear-fill"></i>
          <p>Backend uses EJS templates to generate website</p>
        </li>
        <li class="mb-1 d-flex">
          <i class="bi bi-gear-fill"></i>
          <p>User can send an e-mail to me or anyone by this website</p>
        </li>
        <li class=" d-flex">
          <i class="bi bi-exclamation-triangle"></i>
          <p> I know I could use Hash and better solution like in my Baran-Book App,</p>
        </li>
        <li class="mb-2 ms-3 d-flex">
          <p> but I want to show different approaches on my portfolio</p>

        </li>

      </ul>

      </p>