<div class="px-4 py-0 my-5 text-center">
    <h3 class="display-5 ">About this website</h3>
    <div class="col-lg-6 mx-auto">

    </div>
  </div>
  
  <div class="d-flex justify-content-center">

      <ul >
        <li>
          <i class="bi bi-gear-fill"></i>
          <a>Sample web application deployed on Heroku. </a>
        </li>
        <li>
          <i class="bi bi-gear-fill"></i>
          <a>Sample web application deployed on Heroku. </a>
        </li>
        <li>
          <i class="bi bi-gear-fill"></i>
          <a>Sample web application deployed on Heroku. </a>
        </li>
        <li>
          <i class="bi bi-gear-fill"></i>
          <a>Sample web application deployed on Heroku. </a>
        </li>
        <li>
          <i class="bi bi-gear-fill"></i>
          <a>Sample web application deployed on Heroku. </a>
        </li>
        <li>
          <i class="bi bi-gear-fill"></i>
          <a>Sample web application deployed on Heroku. </a>
        </li>
        <li>
          <i class="bi bi-gear-fill"></i>
          <a>Sample web application deployed on Heroku. </a>
        </li>
        <li>
          <i class="bi bi-gear-fill"></i>
          <a>Sample web application deployed on Heroku. </a>
        </li>
        <li>
          <i class="bi bi-gear-fill"></i>
          <a>Sample web application deployed on Heroku. </a>
        </li>
        <li>
          <i class="bi bi-gear-fill"></i>
          <a>Sample web application deployed on Heroku. </a>
        </li>
      </ul>

    </div>

  