<div class="px-4 py-0 my-5 text-center">
  <h3 class="display-5">Send me a message!</h3>
  <div class="col-lg-6 mx-auto"></div>
</div>

<div class="row justify-content-center">
  <% if(infoSubmitObj != '') { %>
  <div class="col-8 alert alert-success" role="alert"><%= infoSubmitObj %></div>
  <% } %> <% if(infoErrorsObj != '') { %>
  <div class="col-8 alert alert-danger" role="alert">
    <%= infoErrorsObj[0].message %>
  </div>
  <% } %>

  <div class="col-8">
    <form action="/contact" enctype="multipart/form-data" method="POST">
      <div class="row g-3">
        <div class="col-12">
          <label for="email" class="form-label">Receiver</label>
          <input required type="email" id="email" name="email" class="form-control mobile-text"
            placeholder="lukaszbaran999@gmail.com" />
        </div>
        <div class="col-12">
          <label for="subject" class="form-label">Subject</label>
          <input required type="text" name="subject" id="subject" class="form-control mobile-text" />
        </div>

        <div class="col-12">
          <label for="description" class="form-label">Description</label>
          <textarea name="description" id="description" class="form-control" cols="30" rows="4"></textarea>
        </div>

        <div class="col-12 d-flex">
          <button type="submit" class="btn btn-outline-secondary mx-auto ">Send an e-mail</button>
        </div>
      </div>
    </form>
  </div>
</div>